<div role="tabpanel" class="tab-pane config-section" id="challenges">
	{%
		with form = Forms.config.ChallengeSettingsForm(
			bonus_score_rate=bonus_score_rate
		)
	%}
	<form method="POST" autocomplete="off" class="w-100">

		<div class="form-group">
			{{ form.bonus_score_rate.label }}
			{{ form.bonus_score_rate(class="form-control", value=bonus_score_rate or form.bonus_score_rate.default) }}
			<small class="form-text text-muted">
				{{ form.bonus_score_rate.description }}
			</small>
		</div>

		<button type="submit" class="btn btn-md btn-primary float-right">Update</button>
	</form>
	{% endwith %}
</div>
